body {
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	margin: 0;
	background: green;
	font-weight: normal;
	padding: 10px 20px;
	text-transform: uppercase;
}

input {
	width: 100%;
	background: #f7f7f7;
	border: 10px solid #f7f7f7;
	box-sizing: border-box;
	outline: none;
	display: none;
}

input:focus {
	border: 3px solid green;
	padding: 7px;
	background: white;
}

li {
	line-height: 40px;
}

h1 span {
	color: white;
	float: right;
}

li span {
	color: white;
	visibility: hidden;
	background: green;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	width: 0;
	margin-right: 10px; 
	transition: 0.2s linear;
}

li:hover span {
	width: 40px;
	visibility: visible;
}

li:nth-of-type(2n + 1) {
	background: white;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.completed-task {
	color: green;
	text-decoration: line-through;
}