body {
	background: #16A085;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	color: white;
	margin: 0;
	background: green;
	font-weight: normal;
	padding: 10px 20px;
	text-transform: uppercase;
}

input {
	width: 100%;
	border: 10px solid white;
	box-sizing: border-box;
	outline: none;
}

h1 span {
	color: white;
	float: right;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.completed-task {
	color: gray;
	text-decoration: line-through;
}